
.add-user-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 32, 45);
    min-height: 100vh;
}
.user-form{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


label{
    font-size: 14px;
    margin-left: 3px;
    
}

input{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 240px;
    height: 35px;
    border-radius: 8px;
    outline-color: #11893b;
    
    
    border: 3px solid #0d3f4d;
    padding: 0px 10px 0px 10px;
    
}



.add-user-heading{
    font-size: 24px;
}

.add-user-button{
    background-color: rgb(16, 72, 15);
    width: 60px;
    height: 30px;
    border: 0px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 12px;
    margin-top: 10px;
}

@media screen and (max-width:480px){
    .user-form{
        width: 85%;
    }
    input{
        width: 100%;
        height: 40px;
    }
    .add-user-button{
        width: 80px;
        height: 40px;
        font-size: 14px;
    }
}
.add-user-button:hover{
    border: 2px solid #46a32a;
    cursor: pointer;
}

.success-message{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.success-para{
    color: #075021;
    
    margin-right: 5px;
}